//baseWidth
//$baseWidth1:1000px;

// Breakpoint
$breakpoint1: 767px;

// Common Colors
$color1: #0288d1;
$color2: #000a1c;
$color3: #edf8ff;
$color4: #ffffff;
$color5: #ffd600;
$color6: #fff100;
$color7: #f8f8f8;
$color8: #111111;
$color9: #607c93;
$color10: #000000;
$color11: #cccccc;
$color12: #eff2f4;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
