/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer {
    background: $color3;
    padding: 60px 0;
    @include sp {
        padding: 31px 0 29px;
    }

    //------------------------------------------------------
    &__inner {
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
        @include sp {
            max-width: 100%;
        }
    }

    //------------------------------------------------------
    &__link {
        text-align: center;

        a {
            text-decoration: none;
            font-size: 1.4rem;
            line-height: 1.5;
            color: rgba($color: $color2, $alpha: 0.75);
            position: relative;
            padding: 0 15px 0 0;
            @include sp {
                font-size: 1.2rem;
            }

            &::after {
                content: "";
                width: 10px;
                height: 10px;
                background: url("../img/common/icon/icon-new_window.svg") no-repeat center;
                background-size: cover;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                transition: all 0.3s ease-in-out;
            }

            @include hover {
                text-decoration: underline;
                color: $color1;
                opacity: 1;

                &::after {
                    background: url("../img/common/icon/icon-new_window_blue.svg") no-repeat center;
                    background-size: cover;
                }
            }
        }
    }

    //------------------------------------------------------
    &__copyright {
        text-align: center;
        margin: 17px 0 0;
        @include sp {
            margin: 14px 0 0;
        }

        &__txt {
            font-size: 1.2rem;
            line-height: 1.5;
            color: $color2;
            @include sp {
                font-size: 1rem;
            }
        }
    }
}
