/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1 {
    &__txt {
        display: block;
        width: 454px;
        margin: 0 auto;
        background: $color5;
        border-radius: 40px;
        box-shadow: 0 3px 20px rgba($color: #000000, $alpha: 0.1);
        box-sizing: border-box;
        text-decoration: none;
        text-align: center;
        font-size: 2rem;
        line-height: 1.5;
        color: $color8;
        font-weight: bold;
        padding: 24.5px 10px;
        @include sp {
            width: 100%;
            max-width: 315px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.1);
            font-size: 1.6rem;
            padding: 19.5px 10px;
        }

        @include hover {
            background: $color6;
            opacity: 1;
        }

        span {
            display: inline-block;
            position: relative;
            padding: 0 0 0 34px;
            @include sp {
                padding: 0 0 0 25px;
            }

            &::before {
                content: "";
                width: 24px;
                height: 24px;
                background: url("../img/common/icon/icon-entry.svg") no-repeat center;
                background-size: cover;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                @include sp {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}