/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-block1 {
    background-color: $color3;
    padding: 26px 40px 40px;
    @include sp() {
        margin: 0 15px;
        padding: 18px 20px 15px 20px;
    }
    $root: &;

    &__item {
        &:not(:last-child) {
            margin-bottom: 27px;
            @include sp() {
                margin-bottom: 14px;
            }
        }
    }
    &__title {
        font-size: 2rem;
        color: $color1;
        line-height: 1.87;
        margin-bottom: 7px;
        font-weight: bold;
        @include sp() {
            font-size: 1.7rem;
            line-height: 1.76;
            letter-spacing: 0.85px;
        }
    }
    &__txt {
        line-height: 1.5;
        color: $color2;
        font-size: 1.6rem;
        @include sp() {
            line-height: 2;
            font-size: 1.6rem;
        }
    }
}

/*
------------------------------------------------------------*/
.c-entry {
    background: $color1;
    padding: 97px 0 100px;
    @include sp {
        padding: 49px 0 50px;
    }

    //------------------------------------------------------
    &__inner {
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
        @include sp {
            max-width: 100%;
        }
    }

    //------------------------------------------------------
    &__ttl {
        text-align: center;
    }

    //------------------------------------------------------
    &__ttleng {
        display: block;
        font-size: 6.4rem;
        line-height: 1.5;
        color: $color4;
        font-weight: bold;
        @include Roboto-Condensed;
        letter-spacing: 25.6px;
        @include sp {
            font-size: 3.2rem;
            letter-spacing: 12.8px;
        }
    }

    //------------------------------------------------------
    &__ttljap {
        display: block;
        font-size: 2.4rem;
        line-height: 1.5;
        color: $color7;
        font-weight: bold;
        letter-spacing: 2.4px;
        @include sp {
            font-size: 1.6rem;
            line-height: 1.65;
            letter-spacing: 1.6px;
            margin: 4px 0 0;
        }
    }

    //------------------------------------------------------
    &__txt {
        text-align: center;
        font-size: 1.8rem;
        line-height: 2;
        color: $color4;
        margin: 34px 0 0;
        @include sp {
            font-size: 1.6rem;
            line-height: 1.5;
            margin: 27px 0 0;
        }
    }

    .c-btn1 {
        margin: 55px 0 0;
        @include sp {
            margin: 39px 0 0;
        }
    }
}

/*
------------------------------------------------------------*/
.c-modal {
    $root: &;
    width: 100%;
    height: 100%;
    background: $color10;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 999;
    opacity: 0;
    transition: 300ms;
    pointer-events: none;
    padding: 40px 0;
    @include sp() {
        padding: 0;
    }
    &.is-active {
        opacity: 1;
        pointer-events: all;
    }
    &__box {
        background: $color4;
        margin: 0 auto;
        max-width: 960px;
        height: 100%;
        display: flex;
        flex-direction: column;
        @include sp() {
            margin: 0;
            width: 100%;
        }
    }
    &__inner {
        width: 100%;
        height: 100%;
        overflow: auto;
        width: 100%;
        max-width: 960px;
        height: 100%;

        .c-list1 {
            &__inner {
                margin-left: 0;
            }
            &__link {
                padding-left: 0;
            }
            &__item {
                width: 100%;
            }
        }
    }
    &__content {
        margin-top: 80px;
        padding: 0 50px;
        @include sp() {
            padding: 0 30px;
            margin-top: 50px;
        }
    }
    &__title {
        margin-bottom: 33px;
        @include sp() {
            margin-bottom: 15px;
        }
    }
    &__title1 {
        margin-top: 75px;
        margin-bottom: 33px;
        @include sp() {
            margin-top: 35px;
            margin-bottom: 15px;
        }
    }
    &__boxText {
        margin-bottom: 72px;
        @include sp() {
            margin-bottom: 37px;
        }
    }
    &__boxText1 {
        margin-top: 43px;
        @include sp() {
            margin-top: 32px;
        }
    }
    &__img {
        margin: 74px 0 78px;
        @include sp() {
            margin: 36px 0 39px;
        }
    }
    &__textLast {
        padding-bottom: 80px;
    }
    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $color11;
        cursor: pointer;
        &__txt {
            padding: 28px 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            margin-left: 10px;
            @include sp() {
                padding: 16px 0;
            }
        }
    }
}

/*
------------------------------------------------------------*/
.c-box1 {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;

    + .c-box1 {
        margin-top: 60px;
        @include sp {
            margin-top: 40px;
        }
    }

    .c-block1 {
        margin: 40px 0 0;
        @include sp {
            margin: 25px 0 0;
        }
    }
}

.c-box2 {
    $root: &;
    &__info {
        padding: 38px 35px 38px 79px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
        background-color: $color1;
        display: inline-block;
        height: auto;
        @include sp() {
            width: 100%;
            bottom: -10px;
            padding: 30px 30px 28px 30px;
        }
    }
    &__inner {
        position: relative;
    }
    &__title {
        color: $color4;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
    }
    &__category {
        color: $color4;
        margin: 10px 0;
        font-size: 2.4rem;
        line-height: 1.5;
        font-weight: bold;
        letter-spacing: 5px;
        @include sp() {
            margin: 4px 0;
        }
    }
    &__time {
        color: $color4;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        display: inline-block;
    }
}